:root {
  --screen_background: rgb(0, 0, 0);
  --background: #144057; /*fffefa*/
  --background_blue: #1a5b7c;
  --font:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font_colour: #fff;
  --registration-font-colour: #fff;
  --registration-button-colour: #06202e;
  --registration-button-colour-hover: #000;
  --top_text_colour: #eed72f;
  --top_text_font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  --navigation_font_colour: #fff;
  --navigation_background_colour: #333;
  --navigation_fond_colour_hover: #111;

  --table_header_row_background: #333;
  --table_border_colour: #dddddd;
  --table_first_row_colour: rgb(39, 39, 39);
  --table_even_row_colour: #1a5b7c; 
  --table_odd_row_colour: #012D3D; 
  --table_rows_font_colour: #fff;
  --table_header_font_colour: #fff;
}


html,body { 
  height:100%; 
  color: var(--font_colour);
}

.topImages {
  height: 435px;
}

#logo {
  max-width: 26%;
  margin: auto;
}

.topText {
  color: var(--top_text_colour);
  text-align: right;
  padding-right: 50px;
  font-size: 28px;
  font-family: var(--top_text_font);
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 3px;
}

#coverImage {
  max-width: 74%;
  float: right;
}

a {
  color: var(--font_colour);
}

.root {
  /* background: rgb(26,91,124); */
  /* background: linear-gradient(180deg, rgba(20,64,87,1) 71%, rgba(26,91,124,1) 74%, rgba(20,64,87,1) 100%);  margin-bottom: 50px; */
}

.body {
    width: 1120px;
    margin: auto;
    background-color: var(--screen_background);
    color: var(--font_colour);
    font-family: var(--font);
}

.classes {
  width: 100%;
  text-align: center;
}

.classBox {
  /* display: inline-block; */
  width: 80%;
}

.tableTitle {
  padding-top: 15px;
}

.intro {
  font-size: 20px;
  width: 80%;
  padding: 20px 0;
}

.translate {
  margin: 12px 0 0 20px;
}

.my {
  display: none;
}

.en {
  display: block;
}

.title {
  padding-top: 50px;
  max-width: 80%;
}

.reg {
  text-align: center;
  margin: 50px 90px 50px 0;
}

.reg a{
  font-size: 22px;
  color: var(--registration-font-colour);
  background-color: var(--registration-button-colour);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}


.reg a:hover{ 
  background-color: var(--registration-button-colour-hover);
}

th {
  background-color: var(--table_header_row_background);
}

body {
  height: 100%;
}

.main {background: rgb(26,91,124);
  background: linear-gradient(180deg, rgba(26,91,124,1) 30%, rgba(20,64,87,1) 45%, rgba(20,64,87,1) 100%);
height: 100%;
}

.block2 {
  /* text-align: center; */
  /* background-color: var(--background); */
  padding-bottom: 50px;
}

.mainText {
  width: 47%;
  padding-left: 50px;
  display: inline-block;
  /* margin: auto; */
  /* text-align: center; */
}

.avail {
  padding-top: 50px;
}

.block3 {
  width: 48%;
  float: right;
  display: block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--navigation_background_colour);
}

li {
  float: left;
  height: auto;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: var(--navigation_font_colour);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, #languageButton1:hover, #languageButton2:hover {
  background-color: var(--navigation_fond_colour_hover);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin: auto;
}

td, th {
  border: 1px solid var(--table_border_colour);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--table_even_row_colour);
  color: var(--table_rows_font_colour);
}

tr:nth-child(odd) {
  background-color: var(--table_odd_row_colour);
  color: var(--table_rows_font_colour);
}

/* tr:first-child {
  font-weight: bold;
  background-color: var(--table_first_row_colour);
  color: var(--table_header_font_colour);
} */






