:root {
  --screen_background: rgb(0, 0, 0);
  --background: #144057; /*fffefa*/
  --background_blue: #1a5b7c;
  --font:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font_colour: #fff;
  --registration-font-colour: #fff;
  --registration-button-colour: #06202e;
  --registration-button-colour-hover: #000;
  --top_text_colour: #eed72f;
  --top_text_font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  --navigation_font_colour: #fff;
  --navigation_background_colour: #333;
  --navigation_fond_colour_hover: #111;

  --table_header_row_background: #333;
  --table_border_colour: #000;
  --table_first_row_colour: rgb(39, 39, 39);
  --table_even_row_colour: #1a5b7c; 
  --table_odd_row_colour: #012D3D; 
  --table_rows_font_colour: #fff;
  --table_header_font_colour: #fff;
}


html,body { 
  height:100%; 
  color: var(--font_colour);
}

.topImages {
  height: 435px;
  background-color: var(--background_blue);
}

#logo {
  max-width: 26%;
  margin: auto;
}

.topText {
  color: var(--top_text_colour);
  text-align: right;
  padding-right: 50px;
  font-size: 28px;
  font-family: var(--top_text_font);
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 3px;
}

#coverImage {
  max-width: 74%;
  float: right;
}

a {
  color: var(--font_colour);
}

.body {
    width: 1120px;
    margin: auto;
    background-color: var(--screen_background);
    color: var(--font_colour);
    font-family: var(--font);
}

.classes {
  width: 100%;
  text-align: center;
}

.classBox {
  display: inline-block;
  width: 48%;
}

.yellowLine {
  background-color: #eed72f;
  height: 5px;
  width: 50%;
  margin: 45px auto 70px auto;
}

.tableTitle {
  padding-top: 15px;
  margin: 0 0 0 35px;
  font-size: 20px;
}

.intro {
  font-size: 20px;
  width: 80%;
  padding: 20px 0;
  margin: auto;
  text-align: left;
}

.translate {
  margin: 15px 0 0 20px;
}

.my {
  display: none;
}

.en {
  display: block;
}

.title {
  padding-top: 50px;
  max-width: 80%;
  text-align: center;
  margin: auto;
}

.reg {
  text-align: center;
  margin: 50px auto;
  /* margin: 50px 90px 50px 0; */
}

.reg a{
  font-size: 22px;
  color: var(--registration-font-colour);
  background-color: var(--registration-button-colour);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}


.reg a:hover{ 
  background-color: var(--registration-button-colour-hover);
}

th {
  background-color: var(--table_header_row_background);
}

body {
  height: 100%;
}

.main {
  background: var(--background);
height: 100%;
}

.block2 {
  /* text-align: center; */
  background-color: var(--background);
  padding-bottom: 50px;
}

.mainText {
  width: 100%;
  /* padding-left: 50px; */
  display: inline-block;
  margin: auto;
  text-align: center;
}

.avail {
  text-align: center;
  padding-top: 25px;
  margin: auto;
}

.block3 {
  width: 85%;
  margin: auto;
  /* float: right; */
  display: block;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--navigation_background_colour);
}

.navBar li {
  float: left;
  height: 50px;
}

.navBar li a {
  display: block;
  color: var(--navigation_font_colour);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navBar li a:hover{
  background-color: var(--navigation_fond_colour_hover);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 85%;
  margin: auto;
}

td, th {
  border: 1px solid var(--table_border_colour);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--table_even_row_colour);
  color: var(--table_rows_font_colour);
}

tr:nth-child(odd) {
  background-color: var(--table_odd_row_colour);
  color: var(--table_rows_font_colour);
}

.VideoBlock h1{ 
  padding: 30px 0 0 130px;
}

.VideoBlock {
  width: 100%;
  margin: auto;
}

.video {
  margin: 30px auto;
  height: 350;
  width:77%;
}

.videos {
  display: inline-block;
}

.videoText {
  float: right;
  width: 40%;
}

.block2 ul {
  list-style-type: none;
  width: 80%;
  margin: 100px auto;
  padding: 0;
  font-size: large;
  overflow: hidden;
  background-color: var(--background);
}

.block2 li {
  float: none;
  margin: 0;
  height: 50px;
  text-align: left;
}

.block2 a {
  color: white;
  text-decoration: underline;
}

.block2 li a:hover{
  background-color: var(--background);
}

.materialTitle {
  margin: 75px 0 0 110px;
}

#regTable {
  margin: 32px auto;
  width: 80%;
}

@media screen and (max-width: 1000px) {
  
  #logo{
    display: block;
    margin: auto;
    width: 70%;
    max-width: 100%;
  }

  #coverImage {
    display: block;
    max-width: 100%;
    margin-bottom: 50px;
  }

  .topImages {
    height: auto;
  }

  .topText {
    text-align: center;
    padding-right: 0;
    padding-bottom: 50px;
    background-color: #1a5b7c;
    font-size: 40px;
    line-height: 40px;
  }

  .title {
    font-size: 40px;
  }

  .intro {
    font-size: 29px;
  }

  .block2 a {
    font-size: 45px;
  }

  .avail {
    font-size: 45px;
  }

  .classBox {
    width: 85%;
    margin: auto;
    display: block;
  }

  .tableTitle {
    font-size: 34px;
    margin: 32px 0 0 0;
  }

  table {
    width: 100%;
  }

  td, th, .block2 td a{
    font-size: 32px;
  }

  .navBar li a {
    font-size: 30px;
  }

  .navBar li {
    height: 75px;
  }

  .VideoBlock h1 {
    font-size: 50px;
  }

  .video {
    width: auto;
    margin: auto;
  }

  .videos {
    width: 75%;
    height: 400px;
    margin: auto;
    display: block;
  }

  .videoText {
    width: 75%;
    float: none;
    margin: auto;
  }

  .videoTitle {
    font-size: 45px;
  } 
  
  .videoPara {
    font-size: 32px;
    margin-bottom: 110px;
  }
}